
@media (min-width: 576px) {
    .br-article {
        padding-top: 1rem;
        border-top: 1px solid lightgray;
    }
}

@media (min-width: 768px) {
    .br-article:first-child {
        padding-top: 0rem;
        border-top: 0px;
    }

    .br-article:not(:first-child) {
        padding-top: 1rem;
        border-top: 1px solid lightgray;
    }
}


.br-caption {
    font-size: x-small;
    color: gray;
}

.br-title {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.br-description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.br-writer {
    font-size: x-small;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}