.hm-logobox {
    box-shadow: 5px 5px 10px #2226;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.2s;
}

.hm-logobox:hover {
    box-shadow: 6px 6px 13px #0009;
}

.hm-logobox-lid {
    position: relative;
}

.hm-logobox-cover {
    position: absolute;
    height: 220px;
    width: 220px;
    background-color: #000;
    opacity: 20%;
    transition: 0.2s;
}

.hm-logobox-cover:hover {
    opacity: 0%;
}