.home-badge-wrapper {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.1);
    padding-top: 0.3rem;
}

.home-badge {
    position: relative;
    float: right;
    color:black;
    text-align: center;
    border-radius: 1rem;
    padding: 5px 10px 5px 10px;
    font-size: 0.6rem;
}