@media (min-width: 576px) {
    .br-section:not(:first-child) {
        border-left: 0px;
    }
}

@media (min-width: 768px) {
    .br-section:not(:first-child) {
        border-left: 0.5px solid gray;
    }
}


.br-link {
    text-decoration: none;
    color: white;
}

.br-footer-row {
    border-top: 0.5px solid gray;
}

.br-footer-item {
    padding-right: 1rem;
}

.br-footer-item:not(:first-of-type) {
    padding-left: 1rem;
    border-left: 0.5px solid gray;
}

.br-footer-item-heading {
    color: gray;
}