.br-article {
    background-color: rgb(253, 247, 240);
}

.br-caption {
    font-size: x-small;
    color: gray;
}

.br-title {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.br-description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.br-writer {
    font-size: x-small;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}